---
import { Image } from "astro:assets";
import { Card } from "@/components/ui/card";
interface Props {
    index: number;
    slug: string;
    name: string;
    year: string;
    image: string;
}

const { index, slug, name, image, year } = Astro.props;
---

<a href={`/phim/${slug}`} class="group" data-astro-prefetch="hover">
    <Card
        className="overflow-hidden border border-transparent bg-slate-900/60 transition-all duration-300 ease-in-out group-hover:ring-4 group-hover:ring-slate-700/50 shadow-lg hover:shadow-2xl"
    >
        <div class="relative aspect-[2/3]">
            <Image
                src={`//wsrv.nl/?url=${image}&w=300&h=450&output=webp`}
                alt={name}
                width={300}
                loading={index === 0 ? "eager" : "lazy"}
                height={450}
                transition:name={`image-${slug}`}
                class="object-cover w-full h-full"
            />
        </div>
        <div class="space-y-1 px-4 py-3">
            <h2
                class="text-base font-semibold text-white line-clamp-1"
                transition:name={`title-${slug}`}
            >
                {name}
            </h2>
            <p class="text-sm text-slate-300">
                {year}
            </p>
        </div>
    </Card>
</a>
