---
interface Props {
    title: string;
}
import SearchForm from '@/components/SearchForm';
const {title} = Astro.props;
import {Home} from "lucide-react"
import {ViewTransitions} from 'astro:transitions';
import ProgressBar from 'astro-vtbot/components/ProgressBar.astro';

import '@/styles/globals.css'
---

<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <ViewTransitions/>
    <ProgressBar/>
</head>
<body>
<nav class="border-b">
    <div class="container flex h-16 items-center px-4">
        <div class="mr-4 md:flex">
            <a href="/" class="mr-6 flex items-center space-x-2" aria-label="Astro Flims Home">
              <span class="hidden font-bold sm:inline-block">
                Astro Flims
              </span>
            </a>
            <a href="/" class="flex items-center text-sm font-medium text-muted-foreground">
                <Home className="mr-2 h-4 w-4"/>
                Trang chủ
            </a>
        </div>
        <div class="flex flex-1 items-center justify-between space-x-2 md:justify-end">
            <div class="w-full flex-1 md:w-auto md:flex-none">
                {/* You can add a search input or other elements here if needed */}
                <SearchForm client:idle/>
            </div>
        </div>
    </div>
</nav>
<slot/>
<footer class="w-full flex items-center justify-center py-3">
    Trang web được làm với mục đích học tập, không có mục đích thương mại
</footer>
</body>
</html>